#loading_content {
position: absolute;
background: #3C8DBC;
opacity: 0.9;
z-index: 100;
left: 0;
right: 0;
height: 100%;
text-align: center;
color: #FFFFFF;
}

.tabbable > .nav > li > a[data-value='Download'] {background-color: red;   color:white} 

.program_dt-dt_table {
  height: 95%;
}

.btn {
  background-color:#3C8DBC;  
  color: #FFFFFF;
  font-family: Courier New;
  width:80%;
  /*text-align: center;*/
  text-align: left;
  font-size: 100%;
}

.btn:hover {
  background-color: #3C8DBC; 
  width:85%;
  font-size: 100%;
  color: #FFFFFF;
}

.btn:focus {
  background-color: #397EA8;
  color: #FFFFFF;
}

.test_para {
  font-weight: bold;
}

.selectize-input {
  height: 25px;
  width: 150px;
  font-size: 7pt;
  font-weight: normal;
  border: 3px solid #3c8dbc;
  /*border-radius: 15px;*/
  
 
  
  padding-bottom: 0;
  margin-bottom: 0;
  /*display:block;*/
  /*position:relative;
  right: 30px; */
  
  /*border-right-width: 0;*/
  
  /*
  padding-right: 0;
  margin-right: 0;
  box-sizing: content-box;
  */
  
  
}
.selectize-control {
  border-radius: 15px;
  align-content:center;
}

.box-body {
  height: 75px;
  width: 300px;
  /*padding-right: 20px;
  padding-left: 20px;*/
  border: 3px solid #3c8dbc;
  border-radius: 25px;
  
  padding-bottom: 0;
  margin-bottom: 0;
  align-content:center;
  /*position:relative;
  left: 30px;*/
  
  /*margin:0;
  padding:0;*/
  
  /*box-sizing: content-box;
  
  align-content: padding-leftleft;
  */
}

/*box around input selections (3 of them)*/
.col-sm-4 {
  /*rounding edges*/
  border-radius: 5px;
  /*align-content:center;
  padding-right: 0;
  padding-left: 0;*/
}

.col-sm-12 {

  padding-left: 0;
  padding-right: 0;
  padding: 0;
}

.content {
  padding: 0;
}


/*
.filter_col_1 {
  width: 700px;
  border: 30px solid #3c8dbc;
}

.filter_select_1 {
  width: 80%;
}

.filter_col_2 {
  width: 80%;
}

.filter_select_2 {
  width: 80%;
}

.filter_col_3 {
  width: 80%;
}

.filter_select_3 {
  width: 80%;
}
*/


p {
  font-size:15px; font-weight: bold;
}
.control-label {
  font-size: 10px;
}

/*.tab-content {
  padding:0;
}
*/